body {
  background-image: url('https://img5.yna.co.kr/etc/inner/KR/2021/09/18/AKR20210918017200005_05_i_P4.jpg');
  background-repeat: repeat;
  background-size: cover;
  display: grid;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.board {
  margin: 0 30% 0 30%;
  display: grid;
  width: 490px;
  height: 490px;
  grid-template-rows: 70px 70px 70px 70px 70px 70px 70px;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px;
  border: 5px solid black;
  border-radius: 5px;
  background: teal;
}

.cell {
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  background-color: antiquewhite;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 1em;
  background-color: whitesmoke;
  /* width: 250px; */
  max-width: 90%;
  min-width: 35%;
  /* height: 250px; */
  max-height: 90%;
  min-height: 35%;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  background-image: linear-gradient(180deg, #fdff74, #6aaff0);
  color: rgb(0, 0, 0);
}

/*  */
/*  */
.close-container {
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px 12px;
  height: 60px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 0.8em;
  color: #000000;
  font-size: 0.5em;
  font-family: inherit;
  z-index: 0;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  background-color: rgb(35, 212, 212);
}
.close-container:hover {
  border-radius: 1em;
  box-shadow: 10px 10px 15px rgba(226, 216, 80, 0.4);
  letter-spacing: 0.5px;
  font-size: 0.6em;
  animation: rotate 0.7s ease-in-out both;
  background-color: rgb(17, 170, 170);
}
